<%- include('../partials/header'); %>

<main class="main main-hot-coffee container text-center">
    <h2 class="main-h2">
        <%= name %>
    </h2>
    <section class="section section-hot-coffee">
        <div class="row">
            <% data.forEach(item => { %>
                <div class="col-md-4">
                    <figure class="figure figure-coffee">
                        <a href="/coffee/hot/<%= item.id %>">
                            <img src="/media/CoffeeCup.png" alt="Coffee Cup" class="img-fluid coffee-cup-image">
                            <figcaption class="figcaption figcap-coffee"><%= item.title %></figcaption>
                        </a>
                    </figure>
                </div>
            <% }) %>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>